{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 120,
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "tabWidth": 2,
  "breakBeforeElse": false
}
